* {
    box-sizing: border-box;
}
h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}
body {
    background-color: #DBD5B5;
    font-family: 'Caveat', cursive;
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
    grid-template-areas:
    "header header header"
    ". search ."
    ". sort ."
    ". pokedex .";
}



header {
    grid-area: header;
    background-color: #FCAB10;
    border: solid 10px #2B9EB3;
    display: flex;
    flex-direction: row;
    background-color: #FCAB10;
    align-items: center;
    color: #F8333C;
    padding: 15px;
}
header>img {
    height: 80px;
    padding-left: 5vw;
    margin-right: 8vw;
}
header>h1 {
    font-weight: bolder;
    font-size: 4em;
    flex-grow: 1;
}




#search-by {
    grid-area: search;
    border: solid 6px #F8333C;
    background-color: #2B9EB3;
    color: #FCAB10;
    padding: 15px;
}
#search-by>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search-by form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #44AF69;
    padding: 15px;
    border: solid 3px #F8333C;
}
#search-by h3 {
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-decoration-line: underline;
}
#search-by form>select {
    margin-bottom: 10px;
    height: 20px;
    width: 200px;
    -webkit-appearance: none;
}
#search-by form>input {
    margin-bottom: 20px;
    height: 20px;
    width: 200px;
}
#search-by form>button {
    height: 20px;
    width: 150px;
    -webkit-appearance: none;
}



#sort-by {
    grid-area: sort;
    border: solid 6px #F8333C;
    background-color: #2B9EB3;
    color: #FCAB10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;  
}
#sort-by>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sort-by label {
    font-size: 1.5em;
}
#sort-by input {
    font-size: 1.2em;
    margin-right: 1vw;
}
#sort-by>div>div {
    font-family: 'Noto Sans', sans-serif;
    font-size: .7em;
    background-color: #44AF69;
    padding: 15px;
    border: solid 3px #F8333C;
    text-decoration-line: underline;
}



#pokedex-list {
    grid-area: pokedex;
}
#pokedex-list>ul {
    background-color: #FCAB10;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border: solid 10px #2B9EB3;
}



li {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 5px;
    border: solid 6px #44AF69;
    height: 300px;
    width: 200px;
    margin: 0 10px 10px 0;
}
li h3 {
    font-size: 1.4em;
    text-decoration-line: underline;
    margin-bottom: 8px;
}
#type-section {  
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#type-section>p {
    display: inline-block;
}
li>img {
    margin: 5px;
    height: 60%;
}

#card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#card-info>p {
    margin-bottom: 5px;
}
#card-info>div {
    font-size: .5em;
    margin: 2px;
    display: flex;
    justify-content: space-between;
}