* {
    box-sizing: border-box;
}
h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

body {
    background-color: #DBD5B5;
    font-family: 'Caveat', cursive;
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
    grid-template-areas:
    "header header header"
    ". search ."
    ". sort ."
    ". pokedex .";
}
header{
    grid-area: header;
}
#search-by {
    grid-area: search;
}
#sort-by {
    grid-area: sort;
}
#pokedex-list {
    grid-area: pokedex;
}


header {
    background-color: #FCAB10;
    border: solid 10px #2B9EB3;
    display: flex;
    flex-direction: row;
    background-color: #FCAB10;
    align-items: center;
    color: #F8333C;
    padding: 15px;
}

header>img {
    height: 80px;
    padding-left: 5vw;
    margin-right: 8vw;
}

header>h1 {
    font-weight: bolder;
    font-size: 4em;
    flex-grow: 1;
}


#search-by {
    border: solid 6px #F8333C;
    background-color: #2B9EB3;
    color: #FCAB10;
    padding: 15px;
}
#search-by>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search-by form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #44AF69;
    padding: 15px;
    border: solid 3px #F8333C;
}
#search-by h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    text-decoration-line: underline;
}
#search-by form>select {
    margin-bottom: 10px;
    height: 20px;
    width: 200px;
    -webkit-appearance: none;
}
#search-by form>input {
    margin-bottom: 20px;
    height: 20px;
    width: 200px;
}
#search-by form>button {
    height: 20px;
    width: 150px;
    -webkit-appearance: none;
}


#sort-by {
    border: solid 6px #F8333C;
    background-color: #2B9EB3;
    color: #FCAB10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;  
}
#sort-by>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sort-by label {
    font-size: 1.5em;
}
#sort-by input {
    font-size: 1.2em;
    margin-left: 4vw;
}
#sort-by>div>div {
    background-color: #44AF69;
    padding: 15px;
    border: solid 3px #F8333C;
    text-decoration-line: underline;
}



#pokedex-list>ul {
    background-color: #FCAB10;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border: solid 10px #2B9EB3;
}
li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 5px;
    border: solid 6px #2B9EB3;
    height: 230px;
    width: 200px;
    margin: 0 7px 7px 0;
}
li h3 {
    font-size: 1.4em;
    text-decoration-line: underline;
}
li>div {
    background-color: #44AF69;
    height: 25%;
    width: 94%;
    padding: 5px;
    border: solid 3px #F8333C;
    margin: 5px;
}
li>img {
    height: 60%;
}